html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  font-family: "Roboto", sans-serif;
  min-height: 100dvh;
}

button {
  padding: 8px 16px;
}

h1 {
  font-size: 48px;
  font-weight: 900;
  color: #f9faf8;
}

h2 {
  text-align: center;
  font-size: 36px;
  font-weight: bolder;
  color: #1f2937;
}

header a {
  text-decoration: none;
  color: white;
}

.header-logo {
  font-size: 24px;
  color: #f9faf8;
}

.header-links {
  display: flex;
  justify-content: space-around;
  list-style: none;
  gap: 10px;
  color: white;
}

.header-content,
.hero-section .content {
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.header-content {
  align-items: center;
  padding-top: 15px;
  padding-bottom: 50px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex: 1;
}

.hero-section .content {
  padding-top: 36px;
  padding-bottom: 72px;
  gap: 230px;
}

.left-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 16px;
}

.left-section button {
  background: none;
  border: none;
  font: inherit;
  color: #f9faf8;
  font-weight: bold;
  width: 120px;
  padding: 8px 20px;
  border-color: #3882f6;
  border-radius: 4px;
  cursor: pointer;
}

.left-section p {
  font-size: 18px;
  color: #e5e7eb;
}

.cards-section {
  background-color: #f9faf8;
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding-top: 36px;
  padding-bottom: 116px;
}

.cards {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.card {
  display: flex;
  flex-direction: column;
}

.card img {
  width: 320px;
  height: auto;
  border: #3882f6 solid 3px;
  border-radius: 10px;
  margin-bottom: 10px;
}

.quote-section {
  background-color: #e5e7eb;
}

.quote-section .content {
  max-width: 1440px;
  margin: 0 auto;
  padding: 120px 42px;
  display: flex;
  flex-direction: column;
}

.quote-section p {
  font-style: italic;
  font-size: 36px;
  color: #1f2937;
}

.quote-section span {
  font-size: 32px;
  font-weight: bold;
  align-self: flex-end;
}

.call-to-action {
  width: 1440px;
  margin: 96px auto;
  height: 130px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
  border-radius: 8px;
}

.call-to-action a {
  color: white;
  padding: 3px 20px;
  border: #f9faf8 solid 1px;
  border-color: #f9faf8;
  border-radius: 4px;
}

.left-section button,
.call-to-action,
.call-to-action a {
  background-color: #3882f6;
}

footer {
  font-size: 18px;
  color: #f9faf8;
  text-align: center;
  padding: 50px 100px;
}

header,
.hero-section,
footer {
  background-color: #1f2937;
}
